

@media screen and (min-width: 1265px) {

    .pageTitle {display:inline-block;}

}


@media screen and (min-width: 1265px) {
body .t-img-w {display: inline-block;}
}

@media screen or (max-width: 2380px;) {
.t-img-w {display: none;}
}